# Dependencies
node_modules/

# Expo & Web
.expo/
dist/
web-build/

# Environment variables
.env
.env*.local

# Logs and system files
*.log
.DS_Store
Thumbs.db

# IDE & Editor files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Native artifacts (if prebuild is run)
*.iml
.gradle/
build/
local.properties
